.git
.gitignore
.dockerignore

.env
.env.*
!.env.example

**/.venv
**/__pycache__
**/*.pyc
**/.pytest_cache

**/.vscode
**/.python-version

PROJECT_KT.md
Project_overview.md
Rizzeptionist_pending.txt
web
