GEMINI_API_KEY=
DEEPGRAM_API_KEY=
ELEVENLABS_API_KEY=
SARVAM_API_KEY=
NEON_DATABASE_URL=

LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# This is for local server only, used by the agent for readiness callback
# RENDER sets its own port PORT=8000 automatically
PORT=

DATABASE_URL=
